<% include ../partials/header %>

<h1 id="courseColorHex" style="display: none"><%= course.color %></h1>
<h1 id="categoryColorHex" style="display: none"><%= category.color %></h1>

<section id="user-forms-without-photo-background">
    <div class="form-wrapper">
        <form action="/category/<%= category._id %>/delete?_method=DELETE" method="POST">
            <button class="circle-btn delete-btn">
                <i class="fas fa-trash-alt"></i>
            </button>
        </form>
        <header style="padding-top: 0;" class='form-head'>
            <h2 >Edit Category!</h2>
        </header>
        <form action="/category/<%= category._id %>/edit?_method=PUT" method="POST">
            
            <div class="form-row">
                <div class="left-form-box">
                    <label for="name">Category Name: </label>
                </div>
                <div class="right-form-box">
                    <input class="under-line-input" required type="text" name="category[name]" placeholder="Category Name" value="<%= category.name %>" required>
                </div>
            </div>
            <div class="form-row">
                <div class="left-form-box">
                    <label for="name">Percentage Worth: </label>
                </div>
                <div class="right-form-box">
                    <input class="under-line-input" required type="number" name="category[percentWorth]" placeholder="Category Weight" value="<%= category.percentWorth %>" required>
                </div>
            </div>
            
            <div class="form-row">
                <div class="left-form-box">
                    <label for="color">Click a Color: </label>
                </div>
                <div class="right-form-box">

                </div>
            </div>
            <div class="form-row">
                <div class="">
                    <input required id="categoryColorInput" type="text" name="category[color]" placeholder="category color" value="<%= category.color %>"
                    style="display: none;">
                
                <canvas id="colorPickerCanvas"></canvas>
                </div>
            </div>
            <div class="row">
                <div id="colorViewer" style="background-color: <%= category.color %>;"></div>
            </div>
            <button class="submit-btn" type="submit">Update!</button>
        </form>
    </div>
</section>

<!-- Gives us access to the color pallet -->
<script>
    var courseColorHexCode = document.getElementById("courseColorHex").textContent.trim()
    var categoryColorHexCode = document.getElementById("categoryColorHex").textContent.trim()
    document.body.style.background = "linear-gradient(to right," + courseColorHexCode + "ce, " + categoryColorHexCode + "be, " + courseColorHexCode + "ce)";
    
    var canvas = document.getElementById("colorPickerCanvas");
    function getElementPosition(obj) {
        var curleft = 0, curtop = 0;
        if (obj.offsetParent) {
            do {
                curleft += obj.offsetLeft;
                curtop += obj.offsetTop;
            } while (obj = obj.offsetParent);
            return { x: curleft, y: curtop };
        }
        return undefined;
    }

    function getEventLocation(element, event) {
        var pos = getElementPosition(element);

        return {
            x: (event.pageX - pos.x),
            y: (event.pageY - pos.y)
        };
    }

    function rgbToHex(r, g, b) {
        if (r > 255 || g > 255 || b > 255)
            throw "Invalid color component";
        return ((r << 16) | (g << 8) | b).toString(16);
    }

    function drawImageFromWebUrl(sourceurl) {
        var img = new Image();
        img.crossOrigin = "Anonymous";

        img.addEventListener("load", function () {
            // The image can be drawn from any source
            canvas.width = img.width * 1.2;
            canvas.height = img.height * 1.2;
            canvas.getContext("2d").drawImage(img, 0, 0, img.width, img.height, 0, 0, canvas.width, canvas.height);

        });

        img.setAttribute("src", sourceurl);
    }
    // Draw a base64 image because this is a fiddle, and if we try with an image from URL we'll get tainted canvas error
    // Read more about here : http://ourcodeworld.com/articles/read/182/the-canvas-has-been-tainted-by-cross-origin-data-and-tainted-canvases-may-not-be-exported
    drawImageFromWebUrl("https://res.cloudinary.com/clubphotos/image/upload/v1576562609/Light_Colors.png");

    canvas.addEventListener("click", function (e) {
        var eventLocation = getEventLocation(this, e);
        var coord = "x=" + eventLocation.x + ", y=" + eventLocation.y;

        // Get the data of the pixel according to the location generate by the getEventLocation function
        var context = this.getContext('2d');
        var pixelData = context.getImageData(eventLocation.x, eventLocation.y, 1, 1).data;

        // If transparency on the image
        if ((pixelData[0] == 0) && (pixelData[1] == 0) && (pixelData[2] == 0) && (pixelData[3] == 0)) {
            coord += " (Transparent color detected, cannot be converted to HEX)";
        }

        var hex = "#" + ("000000" + rgbToHex(pixelData[0], pixelData[1], pixelData[2])).slice(-6);

        // Draw the color and coordinates.
        document.getElementById("colorViewer").style.backgroundColor = hex;
        document.getElementById("courseColorInput").value = hex;
    }, false);
</script>

<% include ../partials/footer %>