<% include ../partials/header %>

<p style="display:none;" id="categoryColorHolder"> <%= grade.categoryColor %> </p>
<p style="display:none;" id="courseColorHolder"> <%= course.color %> </p>



<section class="edit-grade-section">
    <div class="form-wrapper">

        
            <form style="text-align: left;"
                action="/courses/<%= course._id %>/grade/<%= grade._id %>/delete?_method=DELETE" method="POST">
                <button class="circle-btn delete-btn">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
            <header style="padding-top: 0;" class='form-head'>
                <h2 >Edit <%= grade.name %>!</h2>
            </header>
            <div style="text-align: center;" class="">
                <p id="gradeInputHelp"></p>
            </div>
            <form action="/courses/<%= course._id %>/grade/<%= grade._id %>/edit?_method=PUT" method="POST">
                <div class="form-row">
                    <div class="left-form-box">
                        <label for="name">Grade Name: </label>
                    </div>
                    <div class="right-form-box">
                        <input onfocus="showGradeNameHint(this)" class="under-line-input" required type="text" name="grade[name]" placeholder="name"
                            value="<%= grade.name %>">
                    </div>
                </div>
                <div class="form-row">
                    <div class="left-form-box">
                        <label>Points Recieved: </label>
                    </div>
                    <div class="right-form-box">
                        <input onfocus="showPointsRecievedHint(this)" required type="number" step="0.01" name="grade[pointsRecieved]" placeholder="Points Recieved"
                            class="under-line-input" value="<%= grade.pointsRecieved %>">
                    </div>
                </div>
                <div class="form-row">
                    <div class="left-form-box">
                        <label>Total Possible Points: </label>
                    </div>
                    <div class="right-form-box">
                        <input onfocus="showPossiblePointsHint(this)" required type="number" step="0.01" name="grade[possiblePoints]" placeholder="Total Possible Points"
                            class="under-line-input" value="<%= grade.possiblePoints %>">
                    </div>
                </div>
                <div class="form-row">
                    <div class="left-form-box">
                        <label>Grade Category: </label>
                    </div>
                    <div class="right-form-box">
                        <select onfocus="showCategoryHint(this)" name="exsistingCategory[name]" id="category-selector">
                            <% categories.forEach((category)=>{ %>
                            <% if(grade.category.toString() == category._id.toString()){ %>
                            <option id="<%= category._id %>" selected value="<%= category.name %>"><%= category.name %></option>
                            <% }else{ %>
                            <option id="<%= category._id %>" value="<%= category.name %>"><%= category.name %></option>
                            <% } %>
                            <% }) %>
                            <option value="New">New</option>
                        </select>
                    </div>
                </div>
                <div class="row-center">
                    <a id="edit-category-btn" onclick="EditCategory()">Edit This Category</a>
                </div>
                <div id="add-category-accordian">
                    <h5 class="newGrade-subtitle">
                        Create a category for this grade
                    </h5>
                    <div style="text-align: center;" class="">
                        <p id="categoryInputHelp"></p>
                    </div>
                    <div class="form-row">
                        <div class="left-form-box">
                            <label>Category Name: </label>
                        </div>
                        <div class="right-form-box">
                            <input onfocus="showCategoryNameHint(this)" class="under-line-input" type="text" name="newCategory[name]"
                                placeholder="New Category name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="left-form-box">
                            <label>Category Percent Worth: </label>
                        </div>
                        <div class="right-form-box">
                            <input onfocus="showPercentWorthHint(this)" class="under-line-input" type="number" name="newCategory[percentWorth]"
                                placeholder="Percent Worth">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="left-form-box">
                            <label for="color">Click a Color: </label>
                        </div>
                        <div class="right-form-box">

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="one-col-center">
                            <input id="courseColorInput" type="text" name="newCategory[color]"
                                placeholder="Course color" style="display: none;">
                            <canvas id="colorPickerCanvas" width="375" height="60"></canvas>
                        </div>
                    </div>

                    <div class="form-row">
                        <div id="colorViewer"></div>
                    </div>
                </div>
                <button class="new-grade-submit submit-btn" type="submit">Update!</button>
            </form>
    </div>
</section>

<!-- Script to show the hint messages for the inputs -->
<script>

    //grade hints 
    let gradeInputHelp = document.getElementById("gradeInputHelp");

    function showGradeNameHint(x) {
        gradeInputHelp.style.display = "block"
        gradeInputHelp.innerText = "The grade's name must be at least one character."
    }

    function showPointsRecievedHint(x) {
        gradeInputHelp.style.display = "block"
        gradeInputHelp.innerText = "The amount of points you recieved on the assignment."
    }

    function showPossiblePointsHint(x) {
        gradeInputHelp.style.display = "block"
        gradeInputHelp.innerText = "The maximum amount of points you could have recieved."
    }

    function showCategoryHint(x) {
        gradeInputHelp.style.display = "block"
        gradeInputHelp.innerText = "Type of assignments (homework, quizes, etc).\nSelect 'new' to add a new category."
    }

    //category hints
    let categoryInputHelp = document.getElementById("categoryInputHelp");

    function showCategoryNameHint(x) {
        categoryInputHelp.style.display = "block"
        categoryInputHelp.innerText = "Type of assignments (homework, quizes, etc)."
    }

    function showPercentWorthHint(x) {
        categoryInputHelp.style.display = "block"
        categoryInputHelp.innerText = "How much these types of assignments are worth.\nFor example, if this category is worth 15%\nof your grade, put 15."
    }
</script>

<script>
    var categorySelector = document.getElementById("category-selector")
    categorySelector.addEventListener("change", () => {
        DecideToShowEditCategoryButton()
        var options = categorySelector.querySelectorAll("option"),
            selectedValue;

        options.forEach(option => {
            if (option.selected) selectedValue = option.value;
        })
        document.getElementById("add-category-accordian").style.display = (selectedValue == "New") ? "block" : "none"
    })

    function GetSelectedCategory(){
        var options = categorySelector.querySelectorAll("option");
        var selectedValue;
        var selectedcategoryId;

        options.forEach(option => {
            if (option.selected){
                selectedValue = option.value;
                selectedcategoryId = option.id
            } 
        })
        return {
            value: selectedValue,
            id: selectedcategoryId
        }
    }

    function DecideToShowEditCategoryButton(){
        if(GetSelectedCategory().value == "New"){
            document.getElementById("edit-category-btn").style.display = "none"
        }else{
            document.getElementById("edit-category-btn").style.display = "inline-block"
        }
    }


    DecideToShowEditCategoryButton()

    function EditCategory(){
        if(GetSelectedCategory().id)
            window.location.href = '/category/' + GetSelectedCategory().id + "/edit";
    }

</script>

<script>

currentCategoryColor = document.getElementById("categoryColorHolder").innerText.trim();
currentCourseColor = document.getElementById("courseColorHolder").innerText.trim();
document.body.style.background = 'linear-gradient(' + LightenRgb(currentCategoryColor) + ", " + currentCourseColor + ", " + LightenRgb(currentCategoryColor) + ')';


   

let navText = document.getElementsByClassName("nav-text");
    for (var i = 0; i < navText.length; i++) {
        navText[i].style.color = currentCategoryColor;
    }

function LightenRgb(_rgbColor){
    rgb = _rgbColor;
    rgb = rgb.substring(4, rgb.length - 1)
    .replace(/ /g, '')
    .split(',');

    for(var i = 0; i<rgb.length;i++){
        rgb[i] = parseInt(rgb[i]) + 20;
        if(rgb[i] > 255) rgb[i] = 255
    }
    return "rgb(" + rgb[0] + ", " + rgb[1] + ", " + rgb[2] + ")"
}

</script>

<% include ../partials/footer %>