<% include ../partials/header %>
<p style="display:none;" id="listOfCourseColors"><%=JSON.stringify(loggedInUser.courseColors)%></p>


<section class="course-list">
    <header class="course-list-head">
        <h2>My Courses</h2>
        <% if(loggedInUser.courseColors.length < 2){ %>
        <h3>Add more courses for a customized background!</h3>
        <% }else{ %>
        <h3>Keep up the good work!</h3>
        <% } %>
    </header>

    <div class="container">
        <a href="/courses/new">
            <button class="add-btn">
                +
            </button>
        </a>
    </div>
    

    <div class="course-Cards">
        <% courseList.forEach((course)=>{ %>
        <div class="course-Card">
            <div class="card-top" style="background-color: <%= course.color %>;">
                <h3><%= course.name %></h3>
            </div>
            <h4><%= course.percentage %>%</h4>
            <div class="course-card-footer">
                <a href="courses/<%= course._id %>" style="border-right: 1.25px black solid;">View</a>
                <a href="courses/<%= course._id %>/edit">Edit</a>
            </div>
            
        </div>
        <% }) %>
    </div>
</section>


<script>
    function getField(input, field) {
        var output = [];
        input.forEach((inp) => output.push(inp[field]))
        return output
    }

    let usersCourseColors = JSON.parse(document.getElementById("listOfCourseColors").innerText)
    let courseColors = getField(usersCourseColors, "color")
    let colorsWithCommas = "";

    courseColors.forEach((color) => {
        colorsWithCommas += ', ' + color;
    })

    document.body.style.background = 'linear-gradient(' + "to right" + colorsWithCommas + ')';
</script>

<% include ../partials/footer %>