<% include ../partials/header %>
<p style="display:none;" id="listOfCourseColors"><%=JSON.stringify(loggedInUser.courseColors)%></p>


<section class="course-list">
    <header class="course-list-head">
        <% if(loggedInUser.courseColors.length < 2){ %>
        <h3>Add more courses for a customized background!</h3>
        <% }else{ %>
        <h3><%= quote %></h3>
        <% } %>
    </header>

    <div class="container">
        <a href="/courses/new">
            <button class="circle-btn add-btn">
                +
            </button>
        </a>
    </div>

    <div class="course-Cards">
        <% for(var i = courseList.length - 1; i > -1; i--){ %>
        <div class="course-Card">
            <div class="card-top" style="background-color: <%= courseList[i].color %>;">
                <h3><%= courseList[i].name %></h3>
            </div>
            <h4><%= courseList[i].percentage.toFixed(2) %>%</h4>
            <div class="course-card-footer">
                <a href="/courses/<%= courseList[i]._id %>" style="border-right: 1.25px black solid;">View</a>
                <a href="/courses/<%= courseList[i]._id %>/edit">Edit</a>
            </div> 
        </div>
        <% } %>
    </div>
</section>

<script>
    function getField(input, field) {
        var output = [];
        input.forEach((inp) => output.push(inp[field]))
        return output
    }

    let usersCourseColors = JSON.parse(document.getElementById("listOfCourseColors").innerText),
    courseColors = getField(usersCourseColors, "color"),
    colorsWithCommas = "";

    courseColors.forEach((color) => {
        colorsWithCommas += ', ' + color;
    })
    console.log("COLORS: " + colorsWithCommas)
    document.body.style.background = 'linear-gradient(' + "to right" + colorsWithCommas + ')';
</script>

<% include ../partials/footer %>