<% include ../partials/header %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>

<!-- These just hold data that I want to transfer from the backend javascript to the front end javascript -->
<h2 style="display:none;" id="gradesObj"><%=JSON.stringify(grades)%></h2>
<p style="display:none;" id="bodyColorHolder"> <%= course.color %> </p>

<div class="container">
    <header id="course-banner" class="course-show-head">
        <h2><%= course.name %></h2>
        <h3><%= course.percentage.toFixed(2) %>%</h3>
    </header>

    <section id="grade-graph" class="graph-section" style="width: 88%; margin:3rem auto;">
        <canvas id="gradeGraph"></canvas>
    </section>

    <section class="grades">
        <div class="add-grade">
            <h4 style="cursor: pointer;" id="add-grade-btn" class="newGrade-title">Add Grade</h4>
            <form action="/courses/<%= course._id %>/grade/new" method="POST">
                <div style="text-align: center;" class="">
                    <p id="gradeInputHelp"></p>
                </div>
                <div id="add-grade-accordian">
                    <div class="form-row">
                        <div class="left-form-box">
                            <label for="name">Grade Name: </label>
                        </div>
                        <div class="right-form-box">
                            <input onfocus="showGradeNameHint(this)" class="under-line-input" required type="text" name="grade[name]" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="left-form-box">
                            <label>Points Recieved: </label>
                        </div>
                        <div class="right-form-box">
                            <input onfocus="showPointsRecievedHint(this)" class="under-line-input" required type="number" name="grade[pointsRecieved]"
                                placeholder="Points Recieved">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="left-form-box">
                            <label>Total Possible Points: </label>
                        </div>
                        <div class="right-form-box">
                            <input onfocus="showPossiblePointsHint(this)" class="under-line-input" required type="number" name="grade[possiblePoints]"
                                placeholder="Total Possible Points">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="left-form-box">
                            <label>Grade Category: </label>
                        </div>
                        <div class="right-form-box">
                            <select onfocus="showCategoryHint(this)" id="category-selector" name="exsistingCategory[name]">
                                <% categories.forEach((category)=>{ %>
                                <option id="<%= category._id %>" value="<%= category.name %>"><%= category.name %></option>
                                <% }) %>
                                <option value="New">New</option>
                            </select>
                        </div>
                    </div>
                    <div class="row-center">
                        <a id="edit-category-btn" onclick="EditCategory()">Edit This Category</a>
                    </div>
                    <div id="add-category-accordian">
                        <h5 class="newGrade-subtitle">
                            Create a category for this grade
                        </h5>
                        <div style="text-align: center;" class="">
                            <p id="categoryInputHelp"></p>
                        </div>
                        <div class="form-row">
                            <div class="left-form-box">
                                <label>Category Name: </label>
                            </div>
                            <div class="right-form-box">
                                <input onfocus="showCategoryNameHint(this)" class="under-line-input" type="text" name="newCategory[name]"
                                    placeholder="New Category name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="left-form-box">
                                <label>Category Percent Worth: </label>
                            </div>
                            <div class="right-form-box">
                                <input onfocus="showPercentWorthHint(this)" class="under-line-input" type="number" name="newCategory[percentWorth]"
                                    placeholder="Percent Worth">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="left-form-box">
                                <label for="color">Click a Color: </label>
                            </div>
                            <div class="right-form-box">

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="slidecontainer">
                                <input style="display: none;" id="courseColorInput" type="text" name="newCategory[color]" placeholder="Course color">
                                <input oninput="UpdateColor(this)" type="range" min="120" max="255" value="171" class="slider" id="redSlider">
                                <input oninput="UpdateColor(this)" type="range" min="120" max="255" value="250" class="slider" id="greenSlider">
                                <input oninput="UpdateColor(this)" type="range" min="120" max="255" value="230" class="slider" id="blueSlider">
                            </div>
                        </div>

                        <div class="row">
                            <div id="colorViewer" style="background-color: rgb(171, 250, 230);"></div>
                        </div>
                    </div>
                    <button class="new-grade-submit submit-btn" type="submit">Create!</button>
                </div>

            </form>
        </div>
        <% for(var i = grades.length - 1; i > -1; i--){ %>
        <div class="grade">
            <div class="grade-title">
                <h4><%= grades[i].name %></h4>
            </div>
            <div class="grade-category">
                <p><%= grades[i].categoryName %></p>
            </div>
            <div class="grade-score">
                <p><%= grades[i].pointsRecieved %>/<%= grades[i].possiblePoints %></p>
            </div>
            <div class="grade-percentage">
                <p><%= grades[i].percentage.toFixed(2) %>%</p>
            </div>
            <div class="grade-edit">
                <a href="/courses/<%= course._id %>/grade/<%= grades[i]._id %>/edit">
                    Edit
                </a>
            </div>
        </div>
        <% } %>

    </section>

</div>

<script src="/scripts/ChoosingNewColor.js"></script>

<!-- Script to show the hint messages for the inputs -->
<script>
    //grade hints 
    let gradeInputHelp = document.getElementById("gradeInputHelp");

    function showGradeNameHint(x) {
        gradeInputHelp.style.display = "block"
        gradeInputHelp.innerText = "The grade's name must be at least one character."
    }

    function showPointsRecievedHint(x) {
        gradeInputHelp.style.display = "block"
        gradeInputHelp.innerText = "The amount of points you recieved on the assignment."
    }

    function showPossiblePointsHint(x) {
        gradeInputHelp.style.display = "block"
        gradeInputHelp.innerText = "The maximum amount of points you could have recieved."
    }

    function showCategoryHint(x) {
        gradeInputHelp.style.display = "block"
        gradeInputHelp.innerText = "Type of assignments (homework, quizes, etc).\nSelect 'new' to add a new category."
    }

    //category hints
    let categoryInputHelp = document.getElementById("categoryInputHelp");

    function showCategoryNameHint(x) {
        categoryInputHelp.style.display = "block"
        categoryInputHelp.innerText = "Type of assignments (homework, quizes, etc)."
    }

    function showPercentWorthHint(x) {
        categoryInputHelp.style.display = "block"
        categoryInputHelp.innerText = "How much these types of assignments are worth.\nFor example, if this category is worth 15%\nof your grade, put 15."
    }
</script>

<!-- Script to change colors of the page -->
<script>
    //set background color
    var courseColorHexCode = document.getElementById("bodyColorHolder").textContent.trim();
    document.body.style.background = "linear-gradient(to right," + courseColorHexCode + ", " + courseColorHexCode + ", " + courseColorHexCode + ")";

    let navText = document.getElementsByClassName("nav-text");
    for (var i = 0; i < navText.length; i++) {
        navText[i].style.color = courseColorHexCode;
    }
</script>

<!-- Script to make the grade/category form visable or not -->
<script>
    //Pulls out the 'new grade menu' when the 'add grade' button is clicked
    var addGradeBtn = document.getElementById("add-grade-btn").addEventListener("click", function () {
        var addGradeAccordian = document.getElementById("add-grade-accordian");
        if (addGradeAccordian.style.display === "block") {
            addGradeAccordian.style.display = "none";
        } else {
            addGradeAccordian.style.display = "block"
            var categorySelector = document.getElementById("category-selector")
            document.getElementById("add-category-accordian").style.display = (categorySelector.value == "New") ? "block" : "none";
        }
    })

    //Pulls out the new category menu if the new option is selected
    var categorySelector = document.getElementById("category-selector")
    categorySelector.addEventListener("change", () => {
        DecideToShowEditCategoryButton()
        

        document.getElementById("add-category-accordian").style.display = (GetSelectedCategory().value == "New") ? "block" : "none"
    }) 

    function GetSelectedCategory(){
        var options = categorySelector.querySelectorAll("option");
        var selectedValue;
        var selectedcategoryId;

        options.forEach(option => {
            if (option.selected){
                selectedValue = option.value;
                selectedcategoryId = option.id
            } 
        })
        
        return {
            value: selectedValue,
            id: selectedcategoryId
        }
    }

    function DecideToShowEditCategoryButton(){
        if(GetSelectedCategory().value == "New"){
            document.getElementById("edit-category-btn").style.display = "none"
        }else{
            document.getElementById("edit-category-btn").style.display = "inline-block"
        }
    }

    function PageLoad(){
        console.log("word")
        DecideToShowEditCategoryButton()
    }

    function EditCategory(){
        if(GetSelectedCategory().id)
            window.location.href = '/category/' + GetSelectedCategory().id + "/edit";
    }
</script>

<!-- Puts the grades in the graph -->
<script>
    var gradesList = JSON.parse(document.getElementById("gradesObj").innerText);

    function getField(input, field) {
        var output = [];
        input.forEach((inp) => output.push(inp[field]))
        return output
    }

    let graph = document.getElementById("gradeGraph").getContext("2d");
    Chart.defaults.global.defaultFontColor = 'black';
    let GradeGraph = new Chart(graph, {
        type: "bar",

        data: {
            labels: getField(gradesList, "name"),

            datasets: [
                {
                    label: "Course Percentage",
                    data: getField(gradesList, "coursePercentAfterThisGradeIsadded"),
                    type: "line",
                    backgroundColor: "rgba(0,0,0,0)",
                    backgroundColor: "rgba(0,0,0,0)",
                    borderWidth: 3,
                    borderColor: "#000",
                    hoverBorderWidth: 2.3
                },
                {
                    type: "bar",
                    label: "Grade Percentage",
                    data: getField(gradesList, "percentage"),
                    backgroundColor: getField(gradesList, "categoryColor"),
                    borderWidth: 1.5,
                    borderColor: "#777",
                    hoverBorderWidth: 2.3,
                    hoverBorderColor: "#000"
                }
            ]
        },
        options: {
            legend: {
                labels: {
                    fontColor: 'black'
                }
            }
        }
    })
</script>



<% include ../partials/footer %>