<% include ../partials/header %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>

<h2 style="display:none;" id="gradesObj"><%=JSON.stringify(grades)%></h2>


<%= course.name %>

<%= course.percentage %> %

<canvas id="gradeGraph"></canvas>

grades:

<% grades.forEach((grade)=>{ %>
    <p>
        <%= grade.name %>
    </p>
<% }) %>


<a href="/courses/<%= course._id %>/grade/new">New grade</a>

<script>
    var gradesList = JSON.parse(document.getElementById("gradesObj").innerText);

function getField(input, field){
    var output = [];
    input.forEach((inp)=> output.push(inp[field]))
    return output
}

let graph = document.getElementById("gradeGraph").getContext("2d");

let GradeGraph = new Chart(graph, {
    type: "bar",

    data: {
        labels: getField(gradesList, "name"),

        datasets: [
            {
                label: "Score Percentage",
                data: getField(gradesList, "coursePercentAfterThisGradeIsadded"),
                type: "line",
                backgroundColor: "rgba(0,0,0,0)",
                backgroundColor: "rgba(0,0,0,0)",
                borderWidth: 3,
                borderColor: "#000",
                hoverBorderWidth: 2.3
            },
            {
                type: "bar",
                label: "Course Percentage",
                data: getField(gradesList, "percentage"),
                backgroundColor: getField(gradesList, "categoryColor"),
                borderWidth: 1.5,
                borderColor: "#777",
                hoverBorderWidth: 2.3,
                hoverBorderColor: "#000"
            }
        ]
    },

    options: {}
})



console.log(getField(grades, "name"))
console.log(getField(grades, "percentage"))
</script> -->


<% include ../partials/footer %>



